
.editNoteDropDown {
  li {
    list-style-type: none;
  }
}

.editNoteItem {
  border: solid;
  border-color: grey;
  border-width: 1px;
}

.rta__autocomplete {
  max-height: 200px;
  overflow-y: auto;
}

.rta__entity--selected {
  background-color: lightgrey;
}
